<!-- form-interests.html -->
<label>Que Consola te gusta más</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.type" value="xbox" checked>
           XBOX ONE
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.type" value="ps">
            PS4
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="wizard.paso3" class="btn btn-block btn-default">
    Siguiente <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>